{% extends "account/base_entrance.html" %}
{% load i18n %}
<!-- Loads crispy forms tags to use crispy-bootstrap to add styles directly -->
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Sign In" %}
{% endblock title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign In" %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        <p>
            {% blocktranslate %}If you have not created an account yet, then please {{ link }}sign up{{ end_link }} first.{% endblocktranslate %}
        </p>
        {% url 'account_login' as login_url %}
        <div class="form p-2">
            {% element form form=form method="post" action=login_url tags="entrance,login" %}
                {% slot body %}
                    {% csrf_token %}
                    {% crispy form %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" tags="prominent,login" %}
                        {% trans "Sign In" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        </div>
    {% endif %}

    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
