{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
<!-- Loads crispy forms tags to use crispy-bootstrap to add styles directly -->
{% load crispy_forms_tags %}

{% block title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <div class="d-flex justify-content-center">
        {% url 'account_signup' as action_url %}
        <div class="form p-2">
            {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}

                {% slot actions %}
                    {% element button tags="prominent,signup" type="submit" %}
                        {% trans "Sign Up" %}
                    {% endelement %}
                {% endslot %}

            {% endelement %}
        </div>
    </div>
{% endblock content %}
