{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% load static %}
<!-- Loads crispy forms tags to use crispy-bootstrap to add styles directly -->
{% load crispy_forms_tags %}


{% block title %}
    {% trans "Signup" %}
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="text-center">
            {% element h1 %}
                {% trans "Sign Up" %}
            {% endelement %}
        
            {% setvar link %}
            <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
            {% endsetvar %}
            <p>
                {% blocktranslate %}Already have an account? 
                Then please {{ link }}sign in{{ end_link }}.
                {% endblocktranslate %}
            </p>
        </div>
        <div class="container-fluid">
            <div class="row">
                {% url 'account_signup' as action_url %}
        
                <div class="col-xs-12 col-sm-10 col-xl-8 form p-2">
                    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                        {% slot body %}
                            {% csrf_token %}
                            {% element fields form=form unlabeled=True %}
                            {{ form|crispy }}
                            {% endelement %}
                            {{ redirect_field }}
                        {% endslot %}

                        {% slot actions %}
                            {% element button tags="prominent,signup" type="submit" %}
                                {% trans "Sign Up" %}
                            {% endelement %}
                        {% endslot %}

                    {% endelement %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
