{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container">
    <div class="text-center p-2 mt-3">
        <h1>Welcome to Our Community Board!</h1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card col-xs-8 col-md-4">
            <img src="/static/images/placeholder.webp" alt="image of hands forming a heart">
        </div>
    </div>
    <div class=" row">
        <div class="p-2 d-grid gap-3 col-xs-8 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        We believe everyone wins when small acts of kindness become part of our daily
                        routines.
                    </h5>
                    <p class="card-text">
                        Helping Hands, Happy Hearts is a digital “pay it forward board”, offering a convenient community
                        platform to bring neighbors together for support with everyday challenges.
                    </p>
                    <p>
                        Join our community and connect with others in need of your skills or kindness. From dog walking
                        to tech troubleshooting, every act of help counts!
                    </p>
                    <p>
                        Simply pin your “Offers & Requests” on the board and let the community spirit do its magic.
                    </p>
                </div>
            </div>
        </div>

        <div class="p-2 d-grid gap-3 col-xs-8 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        Want to make someone's day brighter?
                    </h5>
                    <p class="card-text">
                        Got a green thumb but no garden?
                    </p>
                    <p>
                        A knack for fixing gadgets?
                    </p>
                    <p>
                        Or simply want to make a difference?
                    </p>
                    <p>
                        You're a parent or a teacher and want to foster empathy and community
                        engagement in your children or your pupils? As the African proverb says, it takes a village to
                        raise child.
                    </p>
                    <p>
                        Whether you're a tech-savvy teen, a busy parent, a compassionate neighbor, or someone who simply
                        wants to make a difference, our platform is for you.
                    </p>
                </div>
            </div>
        </div>
        <div class="p-2 d-grid gap-3 col-xs-8 col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        Looking for a little help?
                    </h5>
                    <p class="card-text">
                        Need help navigating your new smartphone?
                    </p>
                    <p>
                        Weed is taking over your garden, but the gardening services are all booked until autumn?
                    </p>
                    <p>
                        Twist your ankle but your dog desperately needs to let some steam off?
                    </p>
                    <p>
                        Don't struggle alone! From unexpected errands to overwhelming projects, or
                        unforeseen acts of Murphy's law, asking for assistance isn't always easy but our community
                        is here to share the load.
                    </p>
                    <p>
                        Remember, offering help is fulfilling, and receiving help lets others
                        contribute to community engagement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}