{% extends 'base.html' %}
{% load i18n %}
<!-- Loads crispy forms tags to use crispy-bootstrap to add styles directly -->
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-xl-8 form p-2">
            <form method="POST" enctype="multipart/form-data">
                <h1 class="text-center">Edit Post</h1>
                {% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
                <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
                    <input type="submit" value="Edit Post" class="btn btn-info col-xs-8 col-s-6">
                    <a href="{% url 'post_detail' post.slug %}" class="btn btn-warning col-xs-8 col-s-6">No, Return to Post</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}