{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container text-center">
    <div class="p-2">
        <h1>Confirm Post Deletion</h1>
    </div>
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="d-flex justify-content-center col-xs-10 col-s-8 form p-2 m-4">
                <form method="POST">
                    {% csrf_token %}
                    <p class="mt-4">Are you sure you want to delete the following post?</p>
                    <p><strong>{{ object.title }}</strong></p>
                    <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
                        <input type="submit" value="Confirm Deletion" class="btn btn-danger col-xs-8 col-s-6">
                        <a href="{% url 'post_detail' post.slug %}" class="btn btn-warning col-xs-8 col-s-6">No, Return to Post</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}