{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Post Detail - {{post.title}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4 mt-3 box">
                <div class="card-body d-flex flex-column justify-content-center align-items-center m-3">
                    <div class="img-container">
                        {% if post.post_image %}
                        <img src="{{ post.post_image.url }}" alt="image for post {{ post.title }}" class="img-fluid">
                        {% else %}
                        <img src="{% static 'images/placeholder.webp' %}" alt="placeholder post image of hands forming a heart" class="img-fluid">
                        {% endif %}
                    </div>
                    <h1 class="text-center">{{ post.title }}</h1>
                    <!-- Check: author defined in PostModel, delete if double. Check: edited_date -->
                    <p class="text-center">Posted by {{ post.author }} on {{ post.published_date }}</p>
                    <hr>
                    <article class="card-text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h2 class="card-title"><strong>Category: </strong>{{ post.category }}</h2>
                            </li>
                            <li class="list-group-item">
                                <h3 class="card-subtitle">
                                    {% if post.subcategory %}
                                    <strong>Subcategory: </strong>{{ post.subcategory }}
                                    <!-- Leaves field empty if no content -->
                                    {% endif %}
                                </h3>
                            </li>
                            <li class="list-group-item">
                                <h3><strong>Excerpt: </strong></h3>
                                <p>{{ post.excerpt }}</p>
                            </li>
                            <li class="list-group-item">
                                <h3><strong>Post Content: </strong></h3>
                                <p>{{ post.content | safe}}</p>
                                <p>
                                    {% if post.location %}
                                    <strong>Location: </strong>{{ post.location }}</p>
                                    <!-- Leaves field empty if no content -->
                                {% endif %}

                                <p>
                                    {% if post.availability %}
                                    <strong>Availability: </strong>{{ post.availability }}
                                    <!-- Leaves field empty if no content -->
                                    {% endif %}
                                </p>
                                <p>
                                    {% if post.tools_required %}
                                    <strong>Tools Required: </strong>{{ post.tools_required }}
                                    <!-- Leaves field empty if no content -->
                                    {% endif %}
                                </p>
                                <p>
                                    {% if post.remarks %}
                                    <strong>Remarks: </strong>{{ post.remarks }}
                                    <!-- Leaves field empty if no content -->
                                    {% endif %}
                                </p>
                                <p>
                                    {% if post.target_date %}
                                    <strong>Target Date: </strong>{{ post.target_date }}
                                    <!-- Leaves field empty if no content -->
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                    </article>
                    {% if request.user == post.author %}
                    <div class="d-flex justify-content-center gap-2">
                        <a href="{% url 'edit_post' post.slug %}" class="btn btn-warning col-8">Edit</a>
                        <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger col-8">Delete</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center col-xs-8 col-s-6 mb-3">
                <a href="{% url 'board' %}" class="btn btn-secondary">&laquo; Return to Overview</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}