{% load static %}

<footer>
    <!-- Bootstrap styles for footer. Margin is responsive to screensize. Fontawesome icons size applied to icon -->
    <!-- Check: Padding not working, flex-shrink: 0 for sticky footer in css might be the cause -->
    <div class="container-fluid d-flex justify-content-center mt-sm-2 mt-md-3">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="visit our facebook page (opens in a new tab)"><i
                        class="fa-brands fa-facebook fa-2x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"
                    aria-label="visit our instagram page (opens in a new tab)"><i
                    class="fa-brands fa-instagram fa-2x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/" target="_blank" rel="noopener" aria-label="visit our linkedin page (opens in a new tab)"><i
                        class="fa-brands fa-linkedin fa-2x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#" target="_blank" rel="noopener"
                    aria-label="visit our youtube channel (opens in a new tab)"><i class="fa-brands fa-youtube fa-2x"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/g-omarsdottir/helping-hands-happy-hearts" target="_blank" rel="noopener"
                    aria-label="visit the website developer's github page (opens in a new tab)"><i
                        class="fa-brands fa-github fa-2x"></i></a>
            </li>
        </ul>
    </div>
</footer>